<div class="container">

<h2>Restaurant details</h2>

<ul>
  <li><%= @restaurant.name %></li>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
</ul>

<%= link_to 'Back to restaurants', restaurants_path  %> |
<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>

</div>
